(openclaw_proxy) {
    reverse_proxy localhost:18789 {
        header_up -X-Forwarded-For
        header_up -X-Forwarded-Proto
        header_up -X-Forwarded-Host
        header_up -X-Real-IP
    }
}

{{ caddy_tailscale_hostname }} {
    tls {{ caddy_tailscale_cert }} {{ caddy_tailscale_key }}

    handle_path /ollama* {
        reverse_proxy localhost:11434
    }

    handle_path /openclaw* {
        import openclaw_proxy
    }

    handle /assets/* {
        import openclaw_proxy
    }

    handle /manifest.webmanifest {
        import openclaw_proxy
    }

    handle {
        respond 404
    }
}
